#portfolio{
    padding: 150px 0;
    background-color: #FFF; 

}
.port{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.port ul{
    display: flex;
    border-radius: 10px;
background: rgba(89, 86, 232, 0.05);
}
.port ul li{
    padding: 0 17px;
    color: #181818;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.port ul li:nth-child(2){
    color: #5956E8;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.por_img{
    display: flex;
    justify-content: space-around;
    margin-top: 67px;
}
.p_1{
    position: relative;
}
.p_1 a{
    padding: 8px 19px;
    border-radius: 10px;
background: transparent;
position: absolute;
top: 190px;
left: 56px;
transition: 0.5s;


}
.p_1 a:hover{
    background: #5956E8;  
   
}
.p_a h5{
    color: transparent;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 135% */
}
.p_a:hover h5{
    color: #FFF;
}
.p_a:hover h6{
    color: #FFF;
}
.p_a h6{
    color:transparent;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}